.menu ul:after {
	clear: both;
	content: "";
	display: block;
}
.menu > ul > li {
	float: left;
	padding: 10px 10px 10px 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.menu > ul li > a {
	display: block;
	height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	color:#ffffff;
}
.menu > ul li > a:hover {
	color:rgb(209, 207, 207);
	cursor: pointer;
}