.mainnews-list-item {
    color:white;
    padding:15px;
    margin: 10px;
    font-size: 21px;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.mainnews-title {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bold;
    color: red;
}
.mainnews-description {
    font-weight: 300;
    margin-bottom: 15px;
    color: rgb(34, 34, 34);
    font-size: 24px;
    line-height: 1.4;
}
.mainnews-features {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 12px;
}
.mainnews-features a {
    text-decoration:none;
    color: rgb(136, 135, 135);
}

.mainnews-img {
    text-align: center;
    /* padding: 2px 0; */
    margin-bottom: 10px;
}

.mainnews-list-item:hover {
    background: rgba(0, 0, 0, 0.1)
}