.br-news-list-item {
    color:rgb(0, 0, 0);
    border-bottom:1px solid rgb(216, 216, 216);
    padding:10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif; 
}
.br-news-list-item:hover {
    background: rgba(0, 0, 0, 0.1)
}

.br-news-img {
    text-align: left;
    margin-right: 5px;
}
.br-news-features {
    font-weight: bold;
    /* margin-bottom: 10px; */
    font-size: 12px;
    
}
.br-news-features a {
    text-decoration:none;
    color: rgb(136, 135, 135);
}

.br-news-date {
    font-weight: 300;
    margin-left: 15px;
    color: rgb(34, 34, 34);
    font-size: 12px;
}

.br-news-title {
    font-size: 14px;
    margin-left: 15px;
    font-weight: bold;
    color: red;
}
